body{
 background-color:#d9d6e9;
}

.table {
    width:400px;
    height:300px;
    border:1px solid red;
    background-color:#4e4ec1;
    border-radius:10px;
  }

.email{
    width:200px;
    height:40px;
    border-radius:10px;
 }

.password{
    width:200px;
    height:40px;
    border-radius:10px;
   }

.login{
  width:200px;
    height:40px;
    border-radius:10px;
    background-color:purple;
    }
.login:hover{
background-color:green;

}